@using Microsoft.AspNetCore.Authorization
@model object

@inject IAuthorizationService AuthorizationService

<header class="mdl-layout__header ">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-layout-title mdl-typography--title" href="@Url.Action("Index", "Home")">WelfareGames</a>
        </nav>
        <!-- Left Navigation. We hide it on small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            @if ((await AuthorizationService.AuthorizeAsync(User, PolicyConstants.IsPatient)).Succeeded) {
                <a class="mdl-navigation__link" href="@Url.Action("Index", "Games")">Games</a>
                <a class="mdl-navigation__link" href="@Url.Action("Index", "Results")">Results</a>
            }
            @if ((await AuthorizationService.AuthorizeAsync(User, PolicyConstants.CanCreatePatient)).Succeeded) {
                <a class="mdl-navigation__link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                <a class="mdl-navigation__link" href="@Url.Action("Index", "Patients")">Patients</a>
            }
        </nav>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Right Navigation. We hide it on small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <partial name="_LoginPartial"/>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <!-- Title -->
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-layout-title mdl-typography--title" href="@Url.Action("Index", "Home")">WelfareGames</a>
    </nav>
    <!-- Top Navigation. -->
    <nav class="mdl-navigation">
        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyConstants.IsPatient)).Succeeded) {
            <a class="mdl-navigation__link" href="@Url.Action("Index", "Games")">Games</a>
            <a class="mdl-navigation__link" href="@Url.Action("Index", "Results")">Results</a>
        }
        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyConstants.CanCreatePatient)).Succeeded) {
            <a class="mdl-navigation__link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="mdl-navigation__link" href="@Url.Action("Index", "Patients")">Patients</a>
        }
    </nav>
    <!-- Add spacer, to align navigation to the bottom -->
    <div class="mdl-layout-spacer"></div>
    <!-- bottom Navigation. -->
    <nav class="mdl-navigation">
        <partial name="_LoginPartial"/>
    </nav>
</div>