
@{
    ViewBag.Title = "Your data";
    Layout = "_Layout";
}

<h2>Enter your data</h2>
@*@model VisitCalifornia.Models.Post*@
<fieldset>

	@using (Html.BeginForm()) {
	@Html.ValidationSummary()
	<p>
		@Html.LabelFor(p => p.Id)
		@Html.EditorFor(p => p.Id)
		@Html.ValidationMessageFor(p => p.Id)
	</p>
	<p>
		@Html.LabelFor(p => p.Score)
		@Html.EditorFor(p => p.Score)
		@Html.ValidationMessageFor(p => p.Score)
	</p>
	<p>
		@Html.LabelFor(p => p.Player)
		@Html.EditorFor(p => p.Player)
		@Html.ValidationMessageFor(p => p.Player)
	</p>
	<p>
		<button type="submit">Submit Data</button>
	</p>
    }
</fieldset>
